[pull]
	rebase = true
[merge]
	tool = vimdiff
[color]
	diff   = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	chp = cherry-pick
	st = status
	br = branch
	l  = log -n 10 --format=format:'%C(blue)%h%C(white) %C(240)- %C(white)%s%C(240) ... %an, %ad' --graph --date=short
	ll = log --date=short --format=format:'%C(blue)%h%C(white) %C(240)- %C(white)%s%C(240) ... %an, %ad' --graph
[push]
	default = current
[fetch]
	prune = true
[user]
	email = keyser.joel@gmail.com
	name = Joel Keyser

; specific settings (e.g. nvim bin location, work user email)
[includeIf "gitdir:~/code/"]
	path = ~/code/.gitconfig
[includeIf "gitdir:~/Coding_Projects_And_Competitions/"]
	path = ~/Coding_Projects_And_Competitions/.gitconfig
